#container{
	background-color: white;
    text-align: center;
    float: left;
    margin: auto;
    height: 100%;
    width: 34.4%;
    
}

html, body {
    height:100%;
    width: 100%;
}

#img_inicio{
    object-fit: inherit;
    margin-bottom: -38%;
    float: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#fazer_doacao{
    position: absolute;
    z-index: 1;
    font-size: 38px;
    margin-top: 683px;
    margin-left: 215px;
    color: dodgerblue;

}

#voltar{
    position: absolute;
    margin-top: 500px;
    margin-left: 900px;
    float: left;
    font-size: 38px;
    color : dodgerblue;

}

#img_inicio_esq{
    z-index: 0;
    object-fit: inherit;
    margin-bottom: -112%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

img{
    height: 100%;
    width: 100%;
}

#img_3{
    z-index: 0;
    object-fit: inherit;
    margin-bottom: -47%;
    margin-top: -26%;
}

.container2{
	background-color: white;
    height: 403px; 
    background-size: cover;
}

#container_imagem{
    width: 65.6%;
    height: 100%;
    float: right;
    background-size: cover;
}

.container3{
    z-index: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    
}

#procurando_abrigo{
    z-index: 1;
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
}

#familia{
    position: absolute;
    z-index: 1;
    margin-left: 40%;
    margin-right: 11%;
    margin-top: 5%;    
    border-radius: 40px;
    width: 400px; 
    height: 130px;  
    background: dodgerblue;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    cursor: pointer;
}

#familia:hover{
    position: absolute;
    z-index: 1;
    margin-left: 40%;
    margin-right: 11%;
    margin-top: 5%;    
    border-radius: 40px;
    width: 409px; 
    height: 139px;  
    background: dodgerblue;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    cursor: pointer;
}

#individual{
    position: absolute;
    z-index: 1;
    margin-left: 40%;
    margin-right: 11%;
    margin-top: 13.5%;    
    border-radius: 40px;
    width: 400px; 
    height: 130px; 
    background: dodgerblue;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    cursor: pointer;
}

#individual:hover{
    position: absolute;
    z-index: 1;
    margin-left: 40%;
    margin-right: 11%;
    margin-top: 13.5%;    
    border-radius: 40px;
    width: 409px; 
    height: 139px; 
    background: dodgerblue;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    cursor: pointer;
}

#opcao{
    z-index: 1;
    font-size: 85px;
    text-align: center;
    color: black;
    margin-top: 0%;

}

h2{
    color: white;
    font-family: 'Caladea', Caladea, monospace
    
}

#teamabrigo{
    font-size: 38px;
    margin-top: 0px;
}

#cumprimento{
    margin-top: 0px;
    margin-bottom: 70px;
    font-size: 55px;
    color : black;
}

p{
    font-family: 'Caladea', Caladea, monospace
}

h1{
    color: DodgerBlue;
    font-family: 'Caladea', Caladea, monospace;
    margin-bottom: 0%;
    
}

.texto_retangulos{
    color : white;
    margin-top: auto;
    font-size: 30px;
}

#fisica{
    position: relative;
    border-radius: 25px;
    width: 300px; 
    height: 40px; 
    background: dodgerblue;
    float: right;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

#frase_inicio{
    font-size: 55px;
    color: white;
    margin-top: 220px;
    margin-left: 55px;
}

#rectangle{
    float: left;
    z-index: 1;
    margin-left: 27%;
    margin-right: 11%;
    margin-top: 5%;    
    border-radius: 40px;
    width: 300px; 
    height: 125px; 
    background: dodgerblue;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#rectangle:hover{
    float: left;
    z-index: 1;
    margin-left: 27%;
    cursor: pointer;
    background: dodgerblue;
    margin-right: 11%;
    margin-top: 5%;    
    border-radius: 40px;
    width: 309px; 
    height: 134px; 
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#rectangle2{
    float: left;
    margin-left: 27%;
    margin-right: 11%;
    z-index: 1;
    margin-top: 4%;    
    border-radius: 40px;
    width: 300px; 
    height: 125px; 
    background: dodgerblue;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#rectangle2:hover{
    float: left;
    margin-left: 27%;
    margin-right: 11%;
    z-index: 1;
    cursor: pointer;
    background: dodgerblue;
    margin-right: auto;
    margin-top: 4%;    
    border-radius: 40px;
    width: 309px; 
    height: 134px; 
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#whiterectangle{
    position: relative;
    border-radius: 25px; 
    height: 160px; 
    background: white;
    float: top;
}

#square{
    position: relative;
    border-radius: 25px;
    width: 400px; 
    height: 400px; 
    background-color: dodgerblue;
    float: left;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}

#square:hover{
    position: relative;
    border-radius: 25px;
    width: 400px; 
    height: 400px; 
    background: blue;
    float: left;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}

#secondsquare{
    position: relative;
    border-radius: 25px;
    width: 400px; 
    height: 400px; 
    float: right;  
    background: dodgerblue;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}

#secondsquare:hover{
    position: relative;
    border-radius: 25px;
    width: 400px; 
    height: 400px; 
    background: blue;
    float: right;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}

#whitesquare{
    position: relative;
    border-radius: 25px;
    width: 250px; 
    height: 400px; 
    float: left; 
    background: white;
    vertical-align: 0px;
        
}

#whitesquare2{
    position: relative;
    border-radius: 25px;
    width: 250px; 
    height: 400px; 
    float: right; 
    background: white;
    vertical-align: 0px;
    
    
}
.background{
	
	height: 100px;
	width: 20%;
  	background-color: blue;

}
.red{
	color :red;
}
.white{
	color : white;
	font-weight: bold;
	font-size: 20px
}
.gray{
	color : LemonChiffon4;	
	background-color : gray;
}
footer{
	color : lightblue;
}

.green{
	color: green;
	
}

#botoes_meio{
    color:white;
    font-size: 23px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Caladea', Caladea, monospace;
    margin-top : 0px;
    margin-bottom: 220px;
}

#img_caixa{
   
    position: absolute;
    margin: auto;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 60;
    width: 40%;
    
}

#botao_final{
    
    color:white;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Caladea', Caladea, monospace;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    cursor: pointer;

}


#texto_finalizado{
    
    color:dodgerblue;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Caladea', Caladea, monospace;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;

}

#texto_ci{
    
    color:dodgerblue;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Caladea', Caladea, monospace;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 170px;

}


#container_finalizado{
    position: relative;
    height: 400px; 
    background: white;
    vertical-align: 0px;
}

.blue{

	background-color: DodgerBlue;

}

.black{
	color: black;
}

.caixas_texto{
    margin-left: 9%;
    margin-right: 0%;
    font-size: 200%;
}

input[type="text"] {
    width: 1400px;
    height: 45px;
}